/* Font family */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0a0a0a;
  color: white;
  overflow-x: hidden;
}


/* Swiper js configuration */
/* Customize pagination dot color */
.swiper-pagination .swiper-pagination-bullet {
  background-color: rgb(255, 246, 246);

}


.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #C58940;
}